<section class="scetion columns is-mobile">
  <div class="container content column is-half is-offset-one-quarter">

<p style="color: green"><%= notice %></p>

<div class="block">
<%= turbo_frame_tag id="new_post", src:new_post_path %>
</div>


<div id="posts">
  <% @posts.each do |post| %>
      <%= render post %>
  <% end %>
</div>
</div>
</section>
